/.env
/.gradle/
/.idea/assetWizardSettings.xml
/.idea/caches/
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/shelf/
/.idea/workspace.xml
/.kotlin/
/app/build/
/app_info.txt
/build/
/detekt-results.txt
/initial_logs.txt
/initial_screenshot.png
/local.properties
*.iml
