/.env
/.gradle/
/.idea/assetWizardSettings.xml
/.idea/caches/
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/shelf/
/.idea/workspace.xml
/.kotlin/
/app/build/
/build/
/detekt-results.txt
/local.properties
*.iml
