name: Android CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
    - run: ./gradlew ktlintCheck
    - run: ./gradlew build
    - run: ./gradlew test
    - run: ./gradlew assembleDebug
    - uses: actions/upload-artifact@v4
      if: false
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk
